#dummy{
    height: 1280px;
}

#contents{
    border: 5px solid #ff9d2a;
    width: 400px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 2em;
    
}

a{
    text-decoration: none;
    color: crimson;
}

a:link{
    color: aquamarine;
}

a:hover{
    color: antiquewhite;
}

a:visited{
    color:darkgreen;
}

a:target{
    background-color: darkgoldenrod;
    color: antiquewhite;
}



a:active{
    color: darkorange;
}

span:hover{
    background-color: aqua;
}

span:active{
    background-color: crimson;
}

#description{
    height: 600px;
}

#star{
    width: 300px;
    opacity: 0.5;
}

#star:hover{
    opacity: 1;
}
.none_list{
    list-style: none;
}
.none_bullet{
    list-style: none;
}
