P{
   color:#222;
    width: 400px;

}

.list_description {
    border-bottom: 1px solid
}


ol li{
    list-style: decimal-leading-zero;
}

#star{
    width: 300px;
    opacity: 0.5;
}

#star:hover{
    opacity: 1;
}

.a href="list.html"{
    list-style: none;
}

